<h1>Leaderboard</h1>
{{movie-list movies=model
            titleParam=title
            actorParam=actor
            directorParam=director
            ratingFromParam=rating_from
            ratingToParam=rating_to
            searchMovies='searchMovies'}}
